{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

{% if error != null %}
<div class="alert alert-danger">{{error.messageKey}}</div>
{% endif %}
<form action="{{path('login')}}" method='post'>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" class="form-control" value="{{last_username}}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-control">
    </div>
    <div class="form-group">
    <input type="checkbox" id="remember_me" name="_remember_me"/>
    <label for="remember_me">Keep me logged in</label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}
