    body {
        background-color: #dae0e6;
    }

    .btn {
        padding: 0;
    }

    h6 {
        font-size: 10px;
    }

    .userBtn {
        position: relative;
        z-index: 2;
    }
    .post{
        border: none;
        border-bottom: solid 1px #e5e5e5;
    }
    .comment{
        border: none;
    }
    .post-title{
        font-weight: bold;
        display: inline;
    }
    h6 > a{
        color: #6d767e;
    }
    h6 > a:hover{
        font-weight: bold;
        color: #63788a;
        text-decoration: none;
    }
    .subreddit-title{
        color: black;
        font-weight: bold;
    }
    .miniature{
        display: inline;
        margin-right: 3px;
        max-width: 80px;
        max-height: 60px;
    }
    .card{
        padding: 0px;
    }
    .card-body{
        padding: 8px;
    }
    .title{
        margin-bottom:0;
    }
    .information-line{
        margin-bottom: 0;
    }
    .bottom-line{
        color: #63788a;
        font-size: 12px;
    }

    .comment-bottom-line >a:hover{
        background-color: #cfe4f7;
        text-decoration: none;
    }
    .comment-bottom-line > a{
        color: #63788a;
        font-size: 12px;
        font-weight: bold;
    }
    .expand{
        position: relative;
        z-index: 2;
    }
    .expand:hover{
        background-color: #cfe4f7;
    }
    .js-like-link{
        color:grey;
    }
    .js-dislike-link{
        color:grey;
    }
    .is-liked{
        color:red;
    }
    .like-flex{
        display: flex;
        width: 26px;
        align-items: center;
        font-size: 10px;
        margin-left: 8px;
        margin-right: 2px;
        flex-direction: column;
        justify-self: space-evenly;
    }
    .like-flex i{
        font-size: 14px;
    }
    .like-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-join{
        border-radius: 50px;
        padding: 3px;
        min-width: 54px;
    }
    .search-input{
        padding: 5px;
        outline: none;
    }
    .search-span{
        background-color: white;
    }
    .search-form{
        display: inline;
    }
