<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Redditclone</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

    <body>
        {% include 'navbar.html.twig' %}
        
        <div class="container"> 
        {% block body %}{% endblock %}
        </div>
         
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% include 'footer.html.twig' %}

    </body>
</html>
