<nav class="navbar bg-light mb-4">
  <div class="container">
    <ul class="nav navbar-nav navbar-logo mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{path('home')}}">RedditClone</a>
      </li>
    </ul>
    </div>
</nav>
