<nav class="navbar bg-light mb-4 justify-content-between">
    <a class="navbar-brand" href="{{path('home')}}">Redditclone</a>
    <div>
      <a class="navbar-brand" href="{{path('login')}}">Login</a>
      <a class="navbar-brand" href="{{path('login')}}">Sign up</a>
    </div>
</nav>
